/* Responsive Layout */
@media screen and (max-width: 639px) {
  .banner {
    grid-row-gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-areas:
      "scooter icon"
      "scooter text"
      "scooter button";
    margin-top: 2rem;
    padding: 1.5rem 1.5rem;
  }

  .icon {
    grid-area: icon;
  }

  .scooter {
    grid-area: scooter;
    width: 15rem;
    height: 10rem;
    margin-left: -7rem;
    margin-right: -2.5rem;
  }

  .text {
    grid-area: text;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .buttonContainer {
    width: 100%;
    grid-area: button;
  }
}

/* General Layout */
.banner {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-areas:
    "scooter icon"
    "scooter text"
    "scooter button";
  align-items: center;
  width: 100%;
  padding: 1.5rem 3rem;
  position: relative;
  cursor: pointer;
  background-color: #01c0e5;
}

.icon {
  grid-area: icon;
  max-width: 5rem;
}

.scooter {
  grid-area: scooter;
  width: 21rem;
  height: 14rem;
  margin: -1rem -4rem -1rem -6rem;
  background-image: var(--sfm7vxd-0);
  background-size: cover;
  position: relative;
}

.text {
  grid-area: text;
  color: #fff;
  font-family: var(--cb-font-family-brand);
  font-feature-settings: var(--cb-font-family-brand-font-feature-settings);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.buttonContainer {
  grid-area: button;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--cb-space-regular-xlarge);
  font-family: var(--cb-font-family-sans);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  border: none;
  border-radius: var(--cb-corner-radius-medium);
  background: #01c0e5;
  color: var(--cb-color-text-brand);
  cursor: pointer;
  position: relative;
  background-color: var(--cb-color-bg-surface-brand);
}

.button:hover {
  background: var(--cb-color-bg-surface-brand-hovered);
}

.button:active {
  background: var(--cb-color-bg-surface-brand-pressed);
}
